body {
    background: #ffffe6;
}

.cor-titulo {
    color: black;
    text-align: center;
}

.tamanho-imagem {
    width: 200px;
    height: auto;
}

.botao {
    height: 20px;
    width: 50px;
    margin: 5px 5px;
    position: relative;
    top: 50%;
    left: 38%;
}